<div ng-if="loaded" class="container">
    <h1>Shampoo Plugin Cleaner</h1>

    <div class="action-button-container" ng-show="!checking">
        <span class="action-box" ng-click="startCheck()">Check For Errors</span>
    </div>

    <div class="overview" ng-show="checking">
        <span ng-show="checkingDone">Error check complete</span>
        <span ng-hide="checkingDone">Checking for errors...  ({{checkedPlugins + 1}}/{{pluginsToCheck}})</span>
        <span>{{totalErrors}} errors found</span>

        <div class="error-breakdown" ng-show="errorCheckDone">
            <div ng-repeat="errorType in groupedErrors">
                <span
                    class="error-header">{{errorType.errors.length}} {{::errorType.name}} ({{::errorType.acronym}})</span>
                <span>{{::errorType.caption}}</span>
            </div>
        </div>
    </div>

    <div ng-repeat="plugin in plugins" class="content-block" ng-hide="checking && plugin.skip">
        <div class="content-title">{{::plugin.filename}}
            <span ng-show="checking">({{plugin.status}})</span>
            <span class="right" ng-show="!checking">
                <span class="action-box small {{plugin.skip ? 'red-box' : 'green-box'}}" ng-click="plugin.skip = !plugin.skip">{{plugin.skip ? 'Skip' : 'Process'}}</span>
            </span>
        </div>
        <div class="content-container" ng-show="plugin.errors.length">
            <div class="action-button-container" ng-show="plugin.checked">
                <div ng-repeat="group in groupedErrors" ng-if="plugin.checked">
                    <span>{{ (plugin.errors | groupFilter:$index).length }} {{ ::group.acronym }}s</span>
                    <span class="action-box">Skip</span>
                    <span class="action-box">Manual</span>
                    <span class="action-box">Auto</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="!loaded" class="flex-container">
    <div class="container">
        <div class="big-spinner" us-spinner="spinnerOpts"></div>
        <div class="log" ng-bind="log"></div>
    </div>
</div>
