<div class="center-in-parent container">
    <span class="title">Shampoo Plugin Cleaner</span>
    <div class="game-logo-container">
        <img ng-src="images/games/{{selectedGame.mode}}.png"/>
    </div>

    <div>
        <select class="game-select" ng-options="profile as profile.name for profile in profiles" ng-model="selectedProfile" ng-change="setSelectedGame()">
            <option value="" ng-if="!profiles.length">None</option>
        </select>
        <button class="btn btn-primary" ng-click="toggleProfilesModal(true)" style="font-size:1.5em;">
            <span class="fa fa-gear"></span>
        </button>
    </div>
    
    <span class="btn btn-raised btn-primary" ng-click="startSession()">Start Session</span>
</div>

<profiles-modal></profiles-modal>
<load-order-modal></load-order-modal>