<div class="container">
    <h1>Shampoo Plugin Cleaner</h1>
    <div class="game-logo-container">
        <img ng-src="images/games/{{selectedGame.mode}}.png"/>
    </div>
    <div class="profile-controls">
        <select ng-options="profile as profile.name for profile in profiles" ng-model="selectedProfile"
                ng-change="setSelectedGame()">
            <option value="" ng-if="!profiles.length">None</option>
        </select>
        <span class="fa fa-gear" ng-click="toggleProfilesModal(true)"></span>
    </div>
    <div class="primary-actions">
        <span class="action-box" ng-click="startSession()">Start Session</span>
    </div>

    <profiles-modal></profiles-modal>
</div>
