<div class="modal-container" ng-if="showLoadOrderModal">
    <div class="modal skinny-modal">
        <form>
            <h3>Load Order</h3>
            <section>
                <ul class="checkbox-list">
                    <li ng-repeat="item in loadOrder">
                        <label>
                            <input type="checkbox" ng-model="item.active" /> {{::item.filename}}
                        </label>
                    </li>
                </ul>
            </section>

            <div class="action-btn-container">
                <span class="btn btn-raised btn-primary" ng-click="loadPlugins()">OK</span>
            </div>
        </form>
    </div>
</div>
