<div class="modal-container" ng-if="showLoadOrderModal">
    <div class="modal">
        <form>
            <div class="modal-header">
                Load Order
            </div>

            <div class="modal-body">
                <form>
                    <label class="form-group" ng-repeat="item in loadOrder">
                        <input type="checkbox" ng-model="item.active" />
                        <div class="checkbox"></div>
                        <span class="input-label">{{::item.filename}}</span>
                    </label>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="loadPlugins()">OK</button>
            </div>
        </form>
    </div>
</div>
