<div class="modal-container" ng-if="showProfilesModal" ng-click="unfocusProfilesModal($event)">
    <div class="modal big-modal">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleProfilesModal()"></span>
            </div>

            <h3>Game Profiles</h3>
            <section>
                <div class="subsection" ng-repeat="game in games">
                    <span class="input-label">{{game.name}}</span>
                    <input class="path-input" type="text" ng-model="game.installPath" ng-change="buildValidProfiles()"/>
                    <span class="fa fa-folder-open-o" ng-click="pathBrowse(game)"></span>
                </div>
            </section>

            <section>
                <div class="subsection default-profile-section">
                    <span class="input-label">Default Profile</span>
                    <select ng-model="defaultProfile" ng-options="profile as profile.name for profile in validProfiles">
                        <option value="" ng-if="!validProfiles.length"></option>
                    </select>
                </div>
            </section>

            <div class="action-button-container">
                <span class="action-box" ng-click="saveProfiles()">Save</span>
                <span class="action-box" ng-click="toggleProfilesModal()">Close</span>
            </div>
        </form>
    </div>
</div>
