.btn {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    border-radius: 4px;
    margin: 8px;
    padding: 8px 12px;
    transition: background-color 200ms;

    &.btn-raised {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        font-weight: 400; // Bold looks bad on the raised buttons
    }

    &.btn-small {
        font-size: 0.8em;
        padding: 4px 6px;
    }

    &.btn-large {
        font-size: 1.2em;
        padding: 12px 20px;
    }
}