.panel {
    margin: 8px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);

    .panel-header {
        position: relative;
        padding: 12px;

        .header-btn {
            position: absolute;
            
            &.btn-small {
                right: 6px;
                top: 7px;
            }
        }
    }

    .panel-body {
        padding: 8px;
    }

    .panel-footer {
        font-size: 0.9em;
        padding: 12px;
    }
}