.title-bar {
    -webkit-user-select: none;
    border-bottom: 1px solid #aaa;
    display: table;
    width: 100%;
    margin-top: 4px;

    .title {
        cursor: default;
        display: table-cell;
        padding: 11px;
        -webkit-app-region: drag;
    }

    .actions {
        display: table-cell;
        width: 114px;
        font-size: 22px;
        cursor: default;

        span {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            min-width: 18px;
        }

        .help {
            &::before {
                content: '?';
            }
        }

        .divider {
            cursor: default;
            opacity: 0.4;
            border-right: 1px solid #aaa;
            min-width: initial;
            min-height: 26px;
            margin-right: 8px;
        }

        .minimize {
            margin-top: -6px;

            &::before {
                content: '_';
            }
        }

        .restore {
            font-size: 33px;
            line-height: 16px;
            margin-top: -6px;

            &::before {
                content: '\25A1';
            }
        }

        .close {
            margin-top: 1px;

            &::before {
                content: 'X';
            }
        }
    }
}