ui-view {
    text-align: center;

    .container {
        padding: 20px 40px;
        background-color: aliceblue;
        overflow-y: auto;
        height: calc(100vh - 151px);

        .center-column {
            margin: auto;
            max-width: 1000px;

            h1 {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        .main-actions {
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 15px;
            text-align: center;
            width: 100vw;
            border-top: 1px solid #aaa;
            background-color: #fff;
        }
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 87px);
    }
}