@import "roboto";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    cursor: inherit;
}

div {
    cursor: default;
}

a {
    text-decoration: none;
}

ui-view {
    text-align: center;

    .container {
        padding: 20px 40px;
        background-color: aliceblue;
        overflow-y: auto;
        height: calc(100vh - 112px);

        .center-column {
            margin: auto;
            max-width: 1000px;

            h1 {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        .main-actions {
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 15px;
            text-align: center;
            width: 100vw;
            border-top: 1px solid #aaa;
            background-color: #fff;
        }
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 87px);
    }
}

.subtitle {
    color: gray;
}

.title-bar {
    -webkit-user-select: none;
    border-bottom: 1px solid #aaa;
    display: table;
    width: 100%;
    margin-top: 4px;
    margin-left: 4px;

    .title {
        cursor: default;
        display: table-cell;
        padding: 11px;
        -webkit-app-region: drag;
    }

    .actions {
        display: table-cell;
        width: 114px;
        font-size: 22px;
        cursor: default;

        span {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            min-width: 18px;
        }

        .help {
            &::before {
                content: '?';
            }
        }

        .divider {
            cursor: default;
            opacity: 0.4;
            border-right: 1px solid #aaa;
            min-width: initial;
            min-height: 26px;
            margin-right: 8px;
        }

        .minimize {
            margin-top: -6px;

            &::before {
                content: '_';
            }
        }

        .restore {
            font-size: 33px;
            line-height: 16px;
            margin-top: -6px;

            &::before {
                content: '\25A1';
            }
        }

        .close {
            margin-top: 1px;

            &::before {
                content: 'X';
            }
        }
    }
}

.game-logo-container {
    padding: 8px;
}

.profile-controls {
    select, span {
        display: inline-block;
        vertical-align: middle;
    }

    span.fa {
        margin-left: 4px;
        font-size: 30px;
        cursor: pointer;
    }

    select {
        padding: 4px;
        font-size: 20px;
        min-width: 140px;
        -webkit-appearance: none;

        // background
        background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 15px) calc(50% + 2px),
            calc(100% - 10px) calc(50% + 2px),
            calc(100% - 1.5em) 50%;
        background-size: 5px 5px,
            5px 5px,
            1px 80%;
        background-repeat: no-repeat;
    }
}

.primary-actions {
    margin: 16px;

    .action-box {
        font-size: 28px;
        padding: 8px 16px;
    }
}

.action-box {
    color: #fff !important;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background-color: #53b6bf;
    border-radius: 2px;
    margin: 2px;
    font-size: 18px;
    padding: 4px 8px;
    font-weight: 500;
    user-select: none;
    -webkit-transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #4d5e6b !important;
    }

    &.red-box {
        background-color: red;
    }

    &.green-box {
        background-color: green;
    }

    &.small {
        font-size: 12px;
        padding: 4px 6px;
    }
}

.monospace {
    font-family: 'Courier New', monospace;
}

.highlight {
    color: #53b6bf;
    display: inline-block;
    vertical-align: bottom;
}

.limit-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
}

.clickable {
    cursor: pointer;
}

element-view {
    display: block;
    text-align: left;
    margin-left: 2em;

    span.fa, span.no-button {
        min-width: 1em;
        text-align: center;
    }

    .key {
        font-weight: 500;
        margin-bottom: 2px;
        margin-right: 4px;
        display: inline-block;
    }

    .error {
        background-color: rgba(255, 0, 0, 0.65);
        padding: 2px 4px 0;
        display: inline-block;
    }
}

load-order-modal {
    li.selected {
        background-color: #E0F0FF;
    }
}

resolve-modal {
    h2, h3 {
        margin-top: 0;
    }

    h3 {
        margin-bottom: 0;

        &.limit-text {
            padding: 0 50px;
        }
    }

    .modal-body {
        margin: 18px 40px 100px;
        overflow: auto;
    }

    .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 30px 45px;

        > div {
            min-width: 110px;
        }

        .action-box {
            min-width: 105px;
        }

        .resolutions {
            max-width: 490px;
            text-align: left;

            .action-box {
                min-width: 240px;
                text-align: left;
                color: #000 !important;
                background: none;

                &.selected, &:hover {
                    &.green {
                        background: #E0FFE8 !important;
                    }
                    &.yellow {
                        background: #F9F9D0 !important;
                    }
                    &.red {
                        background: #FFE0E0 !important;
                    }
                }
            }
        }
    }
}

profiles-modal {
    .modal {
        max-width: 700px !important;
    }

    .profile-container {
        border: 1px solid #aaa;
        border-radius: 3px;
        margin: 8px 0;
        padding: 8px 0;
        position: relative;

        select {
            min-width: 100px;
        }

        img {
            width: 105px;
            margin: 6px 8px;
            vertical-align: middle;
        }

        .fa-folder-open-o {
            vertical-align: middle;
            cursor: pointer;
        }

        .right-column {
            display: inline-block;
            width: 460px;
            text-align: left;
            vertical-align: top;
            padding-right: 12px;

            label {
                display: block;

                .input-label {
                    min-width: 100px;
                }

                .path-input {
                    width: 320px;
                }
            }
        }
    }
}

settings-modal {
    h3 {
        margin-top: 0;
    }

    h4 {
        margin: 8px 0;
    }

    form {
        text-align: left;
    }
}

.cache-container {
    border: 1px solid #aaa;
    padding: 6px;

    .cache-item {
        border-top: 1px solid #aaa;
        position: relative;
        padding: 10px 4px;

        &:first-of-type {
            border-top: none;
        }

        .delete-item {
            position: absolute;
            top: 10px;
            right: 4px;

            .action-box {
                font-size: 12px;
            }
        }

        .filename {
            font-size: 20px;
            padding-bottom: 6px;
        }
    }

    .cache-files-table {
        td, th {
            padding-right: 10px;
            font-size: 14px;
        }
    }
}

/* css for modals */
.modal-container {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: calc(100% - 45px);
    overflow-y: auto;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.4);

    .modal {
        position: relative;
        max-width: 400px;
        padding: 40px;
        margin: 150px auto;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.8);
        background-color: #fff;

        &:focus {
            outline: none;
        }

        .section-title {
            display: block;
            vertical-align: top;
            font-size: 20px;
            font-weight: 500;
        }
    }

    .huge-modal {
        max-width: 900px;
        min-height: 500px;
        margin: 100px auto;
    }

    .big-modal {
        max-width: 600px;
    }

    .skinny-modal {
        max-width: 400px;
        margin: 80px auto;
    }

    .messages {
        background-color: transparent;

        .error-message, .success-message {
            font-size: 18px;
        }
    }

    .section-title {
        margin-top: 0;
    }

    section {
        margin: 15px;
    }
}

.remove-item, .close-modal {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 3px;
    font-size: 20px;
    cursor: pointer;
}

.remove-item {
    color: #CC0000;
}

form {
    .section-title {
        display: block;
        vertical-align: top;
        font-size: 22px;
        font-weight: 500;
    }

    section {
        display: block;
        margin-top: 15px;
        margin-left: 30px;
        margin-bottom: 30px;

        .subsection {
            display: block;
            margin-bottom: 15px;
            margin-top: 15px;

            span, input {
                display: inline-block;
                vertical-align: middle;
            }

            span.action-box {
                font-size: 16px;
            }

            .fa {
                margin-left: 2px;
                cursor: pointer;
            }
        }
    }

    .input-label {
        display: inline-block;
        min-width: 180px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}

.action-button-container {
    margin-top: 16px;
    text-align: center;

    .action-box {
        margin: 1px;
    }
}

.default-profile-section {
    select {
        min-width: 100px;
    }
}

input.invalid {
    outline: 5px auto rgba(255,0,0,0.75);
    outline-offset: -2px;
}

.checkbox-list {
    list-style: none;
    padding-left: 10px;
    text-align: left;

    li {
        -webkit-user-select: none;
    }
}

.loading-message {
    display: block;
    margin-top: 30px;
    font-size: 22px;
}

.big-spinner {
    height: 250px;
}

.content-message {
    font-size: 20px;
    text-align: center;
    padding: 16px;
}

.content-block {
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #aaa;

    .content-title {
        position: relative;
        padding: 10px;
        margin: -1px;
        background-color: #3a4751;
        font-size: 16px;
        font-weight: 500;
        color: #fff;

        span {
            color: #80ccff;

            &.fa {
                color: #fff;
                float: left;
                cursor: pointer;

                &.fa-chevron-right {
                    margin-left: 4px;
                }
            }
        }

        .right {
            float: right;
            margin-top: -3px;

            .fa-circle-o-notch {
                cursor: default;
                font-size: 18px;
                margin-top: 4px;
            }
        }
    }

    .content-container {
        margin: 20px;

        .error-group {
            h2 {
                user-select: none;
                text-align: left;
                font-size: 20px;
                margin-bottom: 0.5em;

                .title {
                    cursor: pointer;
                }

                .fa {
                    text-align: center;
                    min-width: 1em;
                    font-size: 18px;
                }

                select {
                    margin-left: 10px;
                    border: none;
                    padding: 3px;
                    margin-top: 1px;
                    vertical-align: top;
                }
            }
        }

        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;

            tr:nth-child(even) {
                background-color: aliceblue;
            }

            td {
                text-align: left;

                &.error-cell {
                    padding: 0 4px;
                    white-space: pre-line;
                    font-size: 15px;
                    width: 85%;
                }

                &.resolution-cell {
                    text-align: center;
                }
            }
        }
    }
}

.overview {
    > span {
        display: block;
        font-size: 18px;
        margin: 6px 0;
    }

}

.error-breakdown {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    .content-block {
        max-width: 48%;
        margin: 15px 0;

        .content-title span {
            font-size: 20px;
            margin: -5px 1px -2px 0;
            display: inline-block;
            vertical-align: middle;
        }

        &:nth-child(even) {
            margin-right: 0;
        }

        &:nth-child(odd) {
            margin-left: 0;
        }
    }
}
