// Main variables
$state-list: "default" "primary" "success" "warning" "danger";
$color-list: #DEDEDE #226490 #49A249 #D28A23 #F54949;
$text-list: #222 #FFF #FFF #FFF #FFF;

// Page themes
body {
	background-color: #EEE;
}

// Container themes
.title-bar {
	color: #FFF;
	background-color: #2398E6;
}

.container {
	padding: 24px;
	background-color: #FFF;
}

// Button themes
.btn:not(.btn-raised):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

// Modal themes
.modal {
	background-color: #FFF;

	.modal-close {
		color: #CCC;
		&:hover { color: #999; }
	}
}

// Input themes
input[type="text"], select, .input-group .input-addon {
	border-color: #DDD;
}

input[type="text"], select {
	&:focus {
		border-color: #226490;
		box-shadow: 0 0 6px 0px #3981B1;
	}

	&.invalid {
		border-color: #F54949;
		color: #F54949;
		&:focus { box-shadow: 0 0 6px 0px #E06060; }
	}
}

input[type="checkbox"] {
	& ~ .checkbox {
		border-color: #226490;
		background-color: #FFF;
		color: #FFF;

		transition: background-color 200ms;
	}
	
	&:checked ~ .checkbox {
		background-color: #226490;
	}
}

.input-addon {
	background-color: #F9F9F9;
}

a.input-addon {
	background-color: #FFF;
	
	&:hover {
		border-color: #BBB;
		background-color: #EDF2F5;
	}
}

// Panel themes
.panel {
	background-color: #FFF;
}


// Colour contextual state loop
@for $i from 1 through length($state-list) {
	$state: nth($state-list, $i);
	$bg: nth($color-list, $i);
	$text: nth($text-list, $i);

	// ConTEXTual text
	.text-#{$state} {
		color: $bg;
	}

	// Contextual panels
	.panel.panel-#{$state} {
		border: 1px solid $bg;

		.panel-header, .panel-footer {
			color: $text;
			background-color: $bg;
		}
	}

	// Contextual buttons
	.btn.btn-raised.btn-#{$state} { 
		color: $text;
		background-color: $bg;
	}

	.btn:not(.btn-raised).btn-#{$state} {
		color: $bg;
	}

	// Contextual badges
	.badge.badge-#{$state}:not(.badge-invert) {
		color: $text;
		background-color: $bg;
	}

	.badge.badge-#{$state}.badge-invert {
		color: $bg;
		background-color: $text;
	}
}