// Container themes
.title-bar {
	color: #FFF;
	background-color: #2398E6;
}

ui-view.container {
	background-color: #EEE;
}

// Button themes
.btn {
	&.btn-raised {
		&.btn-default {
			color: #226490;
			background-color: #FFF;

			&:hover { background-color: #D4DBE0; }
		}

		&.btn-primary {
			color: #FFF;
			background-color: #226490;

			&:hover { background-color: #3981b1; }
		}

		&.btn-success {
			color: #FFF;
			background-color: #49A249;
		}

		&.btn-warning {
			color: #FFF;
			background-color: #D28A23;

			&:hover { background-color: #3981b1; }
		}

		&.btn-danger {
			color: #FFF;
			background-color: #F54949;
		}
	}

	&:not(.btn-raised) {
		&.btn-default { color: #226490; }
		&.btn-primary { color: #226490; }
		&.btn-success { color: #49A249; }
		&.btn-warning { color: #D28A23; }
		&.btn-danger { color: #F54949; }

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

// Modal themes
.modal {
	background-color: #FFF;

	.modal-close {
		color: #CCC;
		&:hover { color: #999; }
	}
}

// Input themes
input[type="text"], select, .input-group .input-addon {
	border-color: #DDD;
}

input[type="text"], select {
	&:focus {
		border-color: #226490;
		box-shadow: 0 0 6px 0px #3981B1;
	}

	&.invalid {
		border-color: #F54949;
		color: #F54949;
		&:focus { box-shadow: 0 0 6px 0px #E06060; }
	}
}

input[type="checkbox"] {
	& ~ .checkbox {
		border-color: #226490;
		background-color: #FFF;
		color: #FFF;
		
		transition: background-color 200ms;
	}
	
	&:checked ~ .checkbox {
		background-color: #226490;
	}
}

.input-addon {
	background-color: #F9F9F9;
}

a.input-addon {
	background-color: #FFF;
	
	&:hover {
		border-color: #BBB;
		background-color: #EDF2F5;
	}
}