.title {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    display: block;
}

.game-logo-container {
    padding: 8px;
}

.checkbox-list {
    list-style: none;
    padding-left: 10px;
    text-align: left;

    li {
        -webkit-user-select: none;
    }
}

.game-select {
    font-size: 1.3em;
    padding: 12px;
    width: 260px;
}

.game-settings-button {
    font-size: 1.8em !important;
    margin-left: 8px;
}

.log {
    white-space: pre-wrap;
    display: block;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}