// Shampoo Default Theme
// Author: Will Bennion

// ---------- //
// Variables //
// -------- //
/* Most users will just need to change these for their desired theme. */

// App:
$app-bg: #EEE;
$container-bg: #FFF;
$container-color: #222;

$title-bar-bg: #2398E6;
$title-bar-color: #FFF;

// Contextual states:
$state-list: "default" "primary" "success" "warning" "danger";
$color-list: #DEDEDE #226490 #49A249 #D28A23 #F54949;
$text-list: #222 #FFF #FFF #FFF #FFF;



// ------------------- //
// Advanced variables //
// ----------------- //
/* Tweaking these will allow for finer control over some elements. */

// Buttons
$button-flat-hover-bg: transparentize($container-color, 0.85);

// Inputs
$input-bg: $container-bg;
$input-border: mix($container-bg, $container-color, 80%);
$input-color: $container-color;

$input-addon-bg: mix($input-bg, $input-color, 95%);
$input-addon-color: $input-color;
$input-addon-button-bg: $input-bg;
$input-addon-button-color: $input-color;
$input-addon-button-hover-bg: mix($input-bg, $input-color, 90%);
$input-addon-button-hover-color: $input-color;
$input-addon-button-hover-border: mix($input-border, $input-color, 75%);



// ---------- //
// Rule sets //
// -------- //
/* Do not change anything below this line unless you know what you're doing :) */

// Color shortcuts
$primary-color: nth($color-list, index($state-list, "primary"));
$danger-color: nth($color-list, index($state-list, "danger"));

// Page themes
body {
	background-color: $app-bg;
}

// Container themes
.title-bar {
	color: $title-bar-color;
	background-color: $title-bar-bg;
}

.container {
	padding: 24px;
	background-color: $container-bg;
}

// Button themes
.btn:not(.btn-raised):hover {
	background-color: $button-flat-hover-bg;
}

// Modal themes
.modal {
	background-color: $container-bg;

	.modal-close {
		color: mix($container-color, $container-bg, 20%);
		&:hover {
			color: mix($container-color, $container-bg, 40%);
		}
	}
}

// Input themes
input[type="text"], select, .input-group .input-addon {
	border-color: $input-border;
}

input[type="text"], select {
	&:focus {
		border-color: $primary-color;
		box-shadow: 0 0 6px 0px lighten($primary-color, 10%);
	}

	&.invalid {
		border-color: $danger-color;
		color: $danger-color;
		&:focus {
			box-shadow: 0 0 6px 0px lighten($danger-color, 10%);
		}
	}
}

input[type="checkbox"] {
	& ~ .checkbox {
		border-color: $primary-color;
		background-color: $container-bg;
		color: $container-bg;

		transition: background-color 200ms;
	}
	
	&:checked ~ .checkbox {
		background-color: $primary-color;
	}
}

.input-addon {
	background-color: $input-addon-bg;
}

a.input-addon {
	background-color: $input-addon-button-bg;
	color: $input-addon-button-color;
	
	&:hover {
		background-color: $input-addon-button-hover-bg;
		color: $input-addon-button-hover-color;
		border-color: $input-addon-button-hover-border;
	}
}

// Panel themes
.panel {
	background-color: $container-bg;
}


// Colour contextual state loop
@for $i from 1 through length($state-list) {
	$state: nth($state-list, $i);
	$bg: nth($color-list, $i);
	$text: nth($text-list, $i);

	// ConTEXTual text
	.text-#{$state} {
		color: $bg;
	}

	// Contextual panels
	.panel.panel-#{$state} {
		border-color: $bg;

		.panel-header, .panel-footer {
			color: $text;
			background-color: $bg;
		}
	}

	// Contextual buttons
	.btn.btn-raised.btn-#{$state} { 
		color: $text;
		background-color: $bg;
	}

	.btn:not(.btn-raised).btn-#{$state} {
		color: $bg;
	}

	// Contextual badges
	.badge.badge-#{$state}:not(.badge-invert) {
		color: $text;
		background-color: $bg;
	}

	.badge.badge-#{$state}.badge-invert {
		color: $bg;
		background-color: $text;
	}
}